<h1>Serilog Demo</h1>

<p>Just a quick and dirty front-end to drive the logging demo code</p>

<ul>
  <li><a href='https://localhost:5001/api/sampledata/TwoHundred' target="_blank">200</a>
  <li><a href='https://localhost:5001/api/sampledata/FourHundred' target="_blank">400</a>
  <li><a href='https://localhost:5001/api/sampledata/FiveHundred' target="_blank">500</a>
</ul>

For more info: <a href="https://edcteam.visualstudio.com/Knowledge%20Business/_wiki/wikis/Knowledge-Business.wiki?pagePath=%2FKnowledge%20Business%20%252D%20SPIKE%2FLogging&wikiVersion=GBwikiMaster&pageId=871">Click here</a>
